<div class="row">
    <div class="col-xs-12">
        <div>{{person.first_name}} supports</div>
    <div>
    <ul class="list-group">
        <li *ngFor="let taxAccount of taxAccounts" class="list-group-item">
            {{taxAccount}}
        </li>
    </ul>
    </div>
    <div>
        <button (click)="getTaxAccountReferences()" class="btn btn-secondary">Get Tax Accounts</button>
    </div>
    <div style="padding: 20px;">
        <div *ngIf="!errorText">
            <label class="label label-primary">Delayed text:</label><span>here: {{asyncText | async}}</span>
        </div>   
        <span style="padding: 20px; background-color: lightpink;" class="danger" *ngIf="errorText">My error Text {{errorText}}</span>
    </div>
    <div style="padding: 5px;">
        <div style="background-color: limegreen;">
            <span>no sync test: </span><span>{{testText | async}}</span>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <router-outlet></router-outlet>
    </div>
    <button (click)="testChild()">TestChild</button>
    <app-male-employee></app-male-employee>
</div>


